{%extends 'base.html'%} {%block title%}Edit Receveur{%endblock%} {%block
class%}class="sub_page"{%endblock%} {%block main%}
<section class="inner_page_head">
  <div class="container_fuild">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <h3>Admin dashboard</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="ManageProducts" class="product_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Edit <span>Receveur</span></h2>
    </div>
    <div class="container">
      <form method="POST">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input
            type="text"
            name="firstname"
            class="form-control"
            id="firstname"
            aria-describedby="firstnamePriv"
            placeholder="Enter first name"
            value="{{data['user'].firstname}}"
            required
          />
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input
            type="text"
            name="lastname"
            class="form-control"
            id="lastname"
            aria-describedby="lastnamePriv"
            placeholder="Enter last name"
            value="{{data['user'].lastname}}"
            required
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            value="{{data['user'].email}}"
            required
          />
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="username"
            value="{{data['user'].username}}"
            aria-describedby="usernamePriv"
            placeholder="Enter username"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Password"
            value="{{data['user'].password}}"
            required
          />
        </div>
        <div class="form-group">
          <label for="points">points</label>
          <input
            type="number"
            name="points"
            class="form-control"
            id="points"
            value="{{data['rec'].points}}"
            placeholder="points"
            required
          />
        </div>
        <div class="form-group">
          <label for="sales">sales</label>
          <input
            type="number"
            name="sales"
            class="form-control"
            id="sales"
            placeholder="sales"
            value="{{data['rec'].points}}"
            required
          />
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="activation"
          id="exampleRadios1" value="1" {%if data['rec'].active == 1%} checked
          {%endif%} />
          <label class="form-check-label" for="exampleRadios1">
            Activate subscription
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="activation"
          id="activation" value="0" {%if data['rec'].active == 0%} checked
          {%endif%} />
          <label class="form-check-label" for="exampleRadios1">
            deactivate subscription
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
      </form>
    </div>
  </div>
</section>
{%endblock%}
